 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRISHISEVA Login</title>
    <link rel="stylesheet" href="\css\login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <video autoplay muted loop id="myVideo" style="width:100%">
        <source src="https://cdn.pixabay.com/video/2023/07/10/170870-844432929_tiny.mp4" type="video/mp4">
      </video>
      
    <div class="container front">
        <div class="top">
            <span>KRISHISEVAK.AI</span>
            
        </div>
        <h5 style="margin-left: 25px;">username and password will be sent on registered phone number after register</h5>
        <br>
        <br>

        <div class="form">
            <form id="loginForm" onsubmit="login(event)">
                <div class="inputBox inputBoxFront">
                    <label><i class="fas fa-user"></i></label>
                    <input type="text" placeholder="Username" class="input" required>
                </div>
                <div class="inputBox inputBoxFront">
                    <label><i class="fas fa-lock"></i></label>
                    <input type="password" placeholder="Password" class="input" required>
                </div>
                <button type="submit" class="btn"><a href="\subscription">Login</a></button>
            </form>
        </div> 
    </div>




    <script>
        let front = document.querySelector('.front');
        let back = document.querySelector('.back');

        let newUser = document.querySelector('.newUser');
        let existingUser = document.querySelector('.existingUser');

        newUser.addEventListener('click', function () {
            front.style.zIndex = "1"
            back.style.zIndex = "2"
            front.style.transform = "rotateY(360deg)"
            back.style.transform = "rotateY(0deg)"
        })

        existingUser.addEventListener('click', function () {
            back.style.zIndex = "1"
            front.style.zIndex = "2"
            back.style.transform = "rotateY(180deg)"
            front.style.transform = "rotateY(0deg)"
        })
        data={"price":200}






</script>
</body>
</html>
